body {
    width: 85%;
    padding: 0;
    margin: 5% auto;
    background-color: #FFF7E6;
    color: black;
    line-height: 1.2em;
    text-align: left;
    font-size: medium;
    font-weight: normal;
    font-family: sans-serif;
}

h1{
    width: 100%;
    font-size: x-large;
    font-weight: bolder;
    text-align: center;
    line-height: 1.2em;
    margin-bottom: 2em;
}

h2, h3, h4, h5 {
    display: inline-block;
    width: 80%;
    margin-left: 0;
    margin-right: auto;
}

h2 {
    font-size: large;
    font-weight: bold;
    line-height: 1.1em;
    margin-bottom: 1em;
    padding-left: 0.1em;
    padding-bottom: 0.1em;
    border-left: 4px black solid;
    border-bottom: 2px black solid;
}

h3 {
    font-size: large;
    font-weight: bold;
    line-height: 1.1em;
    margin-bottom: 0.8em;
    padding-left: 0.1em;
    border-left: 4px black solid;
}

h4 {
    font-size: large;
    font-weight: bold;
    line-height: 1.1em;
    margin-bottom: 0.5em;
}

h5 {
    font-size: medium;
    font-weight: bold;
    line-height: 1.1em;
    margin-bottom:0.3em;
}

h6 {
    display: inline;
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.2em;
    padding-right: 8px;
    padding-bottom: 8px;
    font-size: medium;
    font-weight: bold;
    line-height: 1.1em;
}

p {
    width: 93%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.4em;
    line-height: 1.4em;
}

blockquote, pre {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
     margin-bottom: 0.4em;
    background-color: #E6E6E6;
    padding: 0.3em;
}

blockquote {
    line-height: 1.4em;
}

pre {
    font-family: monospace;
}

code {
    background-color: #E6E6E6;
    font-family: monospace;
    padding: 2px;
}

table {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
     margin-bottom: 2em;
}

tr {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px black solid;
    padding-bottom: 2px;
}

th {
    background-color: #FFDDCC;
    font-weight: bolder;
    margin-left: 0.1em;
    padding: 2px;
}

td {
    margin-left: 0.1em;
    padding: 2px;
}

ol, ul {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.4em;
    line-height: 1.0em;
}

li {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.1em;
    padding: 3px;
    line-height: 1.2em;
}

li p {
    width: 100%;
    margin: 0;
    padding: 0;
    line-height: 1.2em;
}

strong {
    font-weight: bolder
}

em {


}

strike {
    color: #C6C6C6;

}

hr {

}
