body {
    width: 85%;
    padding: 0;
    margin: 5% auto;
    background-color: #FFF7E6;
    color: black;
    line-height: 140%;
    text-align: left;
}

h1{
    font-size: x-large;
    font-weight: bolder;
    line-height: 120%;
    text-align: center;
    margin-bottom: 2em;
}

h2 {
    display: inline-block;
    font-size: large;
    font-weight: bold;
    line-height: 120%;
    margin-bottom: 1em;
    padding-left: 0.1em;
    padding-bottom: 0.1em;
    border-left: 4px black solid;
    border-bottom: 2px black solid;
}

h3 {
    font-size: large;
    font-weight: bold;
    line-height: 120%;
    margin-bottom: 0.8em;
    padding-left: 0.1em;
    border-left: 4px black solid;
}

h4 {
    font-size: large;
    font-weight: bold;
    line-height: 120%;
    margin-bottom: 0.5em;
}

h5 {
    font-size: medium;
    font-weight: bold;
    line-height: 120%;
    margin-bottom:0.3em;
}

h6 {
    float: left;
    padding-right: 8px;
    padding-bottom: 8px;
    font-size: medium;
    font-weight: normal;
    line-height: 120%;
    margin-bottom: 0.2em;
}

p {
    width: 93%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40%;
}

blockquote {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40%;
    background-color: #E6E6E6;
}

tr {
    border-botttom: 1px black solid;
    padding-bottom: 2px;
}

th {
    background-color: #FFDDCC;
    font-weight: bolder;
    margin-left: 0.1em;
}

td {
    margin-left: 0.1em;
}
